@page
@model WebUI.Restaurants.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<form method="GET">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <div class="input-group-append">
                <button class="btn btn-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>    
    </div>
</form>

<table class="table">
@foreach (var item in Model.Restaurants)
{
    <tr>
        <td>@item.Name</td>
        <td>@item.Location</td>
        <td>@item.Cuisine</td>
    </tr>
}
</table>

