@page
@model WebUI.Pages.Restaurants.NotFoundModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Your restaurant was not found</title>
</head>
<body>
    <h2>Your restaurant was not found</h2>
    <a asp-page="./List" class="btn btn-primary">See all restaurants</a>
</body>
</html>
